body {
    background-color: #252525;
}

.logIn
{
  font-family: "Proxima Nova";
  color: rgb(255, 255, 255);
  text-align: center;
  margin: auto;
  width: 100%;
}

.icon
{
    text-align: center;
    margin-top: 90px;
}

.icon h1
{
    font-family: "Montserrat";
    text-align: center; 
    color: #55b953;
}

.logInLabels
{
    font-size: 2em;
    margin-top: 10px;
}

.logIn input
{
    width: 30px;
}

.btn {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: #55b953;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: absolute;    
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}


.btn-1 {
    color: #fff;
}

.btn-1a:hover,
.btn-1a:active {
    color:  #55b953;
    background: #fff;
}

.logIn a
{
  color: white;
  cursor: pointer;
}
.logIn a:hover
{
    color: #55b953;
}

.signUp a
{
    color: #55b953;
}