body {
	margin:0;
	font-family:"Proxima Nova";
	font-size:1.1em;
	background-color:#eaeafa;
/*	background-color:rgb(235,235,235);*/
/*	background-color:white;*/
}

nav {
	float:left;
	text-align: center;
	height:calc(100% - 40px);
	width:300px;
	background-color:rgb(0,63,34);
	padding:20px;
	font-size:1.5em;
}

nav h1 {
	color:#FFF;
}

nav ul {
	list-style-type: none;
	padding:5px;
}

nav li {
	padding:10px;
	width:275px;
	background-color:rgb(100,164,134);
	margin:20px auto;
	border-radius:15px;
	font-weight:bold;
}

nav a {
	text-decoration: none;
	display:block;
	width:100%;
	color:black;
}

nav h1 a {
	color:white;
}

#mainContent {
	background-color:#eaeafa;
	width:calc(100% - 440px);
	height:calc(100% - 100px);
	overflow-y:auto;
	margin-left:250px;
	padding:50px;
}

#org-search {
	list-style-type: none;
	font-size:1.5em;
}

#org-search a {
	color:black;
	text-decoration: none;
}

#search {
	font-size:1.5em;
}

.breadcrumb {
	font-size:1em;
}

#edit-org-form {
	font-size:1.5em;
	margin:0;
}

#edit-org-form input {
	font-size:1em;
	padding:10px;
	width:530px;
}

#edit-org-form textarea {
	padding:10px;
	font-size:1em;
	font-family:"Segoe UI";
	width:600px;
	height:400px;
	resize:none;
	margin:10px;
}

#add-act, #contact-add {
	cursor:pointer;
}

#act-container {
	height:400px;
	width:820px;
	overflow-y:auto;
	font-size:1em;
}

#act-table {
	width:800px;
}

#act-table td,#act-table th {
	padding:5px;
}

#act-table tr:nth-child(even) {
	background-color:rgb(155,155,155);
}

#act-table tr:nth-child(odd) {
	background-color:rgb(241,241,241);
}

#act-table #act-header {
	background-color:rgb(55,55,55);
	color:white;
}

#contact-list {
	list-style-type: none;
}

#contact-list a {
	color:black;
	text-decoration: none;
}

#org-nav {
	list-style-type: none;
}

#org-nav a {
	color:black;
}

#contact-add, #add-act {
	color:black;
}

#edit-act-form, #edit-contact-form {
	font-size:1.5em;
}

#edit-act-form input,#edit-contact-form input,#edit-contact-form select {
	padding:5px;
	margin:10px 5px;
	font-size:1em;
	width:400px;
}

#act-desc {
	font-family:"Segoe UI";
	resize:none;
	width:500px;
	height:400px;
	font-size:1em;
	padding:5px;
	margin:10px;
}

#add-incentive-form, #add-contact-info-form {
	display:none;
}

#incentive-list, #contact-info {
	list-style-type: none;	
}

#submit-incent,#submit-contact-info {
	cursor:pointer;
	display:block;
	background-color:#efeff5;
	border: 2px #888 outset;
	width:300px;
	padding:5px;
}

#incentive-error,#contact-error {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:rgba(32,32,32,0.5);
	display:none;
}

#incentive-modal,#contact-modal {
	width:300px;
	height:150px;
	background-color: #8FB;
	font-size:1em;
	position:absolute;
	top: calc(35% - 250px / 2);
	left: calc(50% - 310px / 2);
	opacity:1;
	text-align:center;
	padding:90px 10px 10px;
}

#incentive-modal button,#contact-modal button {
	position:relative;
	top:10px;
}